@page
@model RazorOduncTakip.Pages.OduncTakip.IndexModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Date Given</th>
            <th scope="col">Date Return</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oi in Model.OduncIslemler)
        {
            <tr>
                <td width="10%">@oi.Id</td>
                <td width="50%">@oi.Name</td>
                <td width="20%">@oi.DateGive.ToShortDateString()</td>
                <td width="20%">

                    @if (oi.DateReturn is not null)
                    {
                        @oi.DateReturn?.ToShortDateString()
                    }
                    else
                    {
                        <a asp-page="Return" asp-route-id="@oi.Id" class="btn btn-primary">Return</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
